//buttons

.bigButton {
    color: white;
    background-color: #e8324e;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    height: 60px;
    align-self: center;
    
    // @include mobile {
    //     width: 100%;
    // }
    
    // @include desktop{
    //     width: 45%;
    // }
}