//pickers styles
@import 'global/colors';

.roomSelectToggleInput{
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding-bottom: 3px;
  border-bottom: solid 1px $darkblue;

  cursor: pointer;

  .toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  span{
    flex: 1;
    font-size: 14px;
      display: block;
      color: black;
  }

  img{
    width: 10px;
    height: 10px;
    margin-right: 10px;
  } 
    
    label{
        color: black;
        margin-bottom: 20px;
    }
}

.fieldlabel {
    color: black;
    font-family: Helvetica Neue;
}