//global
@import 'colors';
@import 'typography';

.standardInput { padding-left: 20px;}

.ErrorInput { padding-left: 20px;}

.DayPicker { margin-left: 20px; }
.fieldpicker { margin-left: 20px; margin-top: 10px;}